.main {
	padding: 2rem;
	background-color: #313338;
	color: white;
}

.messageContent {
	padding-left: 1rem;
}

.messageRoot {
	padding: 0.5rem;
	/* border: 1px solid black; */

	display: flex;
	flex-direction: row;
}

.contentsection {
	flex-grow: 1;
}

.avatarsection {
	flex-shrink: 1;
	padding: 0.25rem;
	padding-right: 0.5rem;
}

.avatar {
	border-radius: 100%;
}

.channelStats {
	padding-left: 1rem;
}

.mention {
	background-color: #5865f2;
	border-radius: 5px;
}

.content {
	color: white;
}
.content > * {
	padding: 1px;
}

/* USERNAME AREA */
.usernamebracket {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	align-items: center;
}
.username {
	color: white;
	font-weight: 900;
}
.timestamp {
	color: gray;
	font-size: small;
}
